*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:khaki;
    height: 100vh;
    width: 100%;
}
.box{
    height: 400px;
    width: 400px;
    background-color:lightcoral;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
.rocket{
    height: 50px;
    width: 50px;
    background-color: red;
    clip-path: polygon(1% 99%, 48% 1%, 99% 99%, 48% 70%);
    position: absolute;
    top: 100%;
    left: -5%;
    animation: rock 5s infinite;
    
}

}

@keyframes rock {
    0%{
       bottom: 0%;
       left: -5%;
       right: 100%;
       top: 100%;
       
    }
    25%{
        top:-5%;
        left: -5%;
        right: 110%;
        bottom: 0%;
        rotate:90deg;
    }
    50%{
        top:0%;
        left: 95%;
        right: 0%;
        bottom: 100%;
        rotate:180deg;
    }
    75%{
        top: 95%;
        left: 95%;
        right:0%;
        bottom: 0%;
        rotate: 270deg;
    }
    100%{
        top: 95%;
        left: -5%;
        bottom: 0;
        right: 100%;
        rotate: 360deg;
    }
    
}
